<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>books</key>
	<dict>
		<key>row01 - 1 - 1</key>
		<dict>
			<key>name</key>
			<string>Guess How Much I Love You</string>
			<key>type</key>
			<string>Fiction, Children&apos;s literature</string>
			<key>description</key>
			<string>Guess How Much I Love You is a British children&apos;s book written by Sam McBratney and illustrated by Anita Jeram, published in 1994, in the UK by Walker Books and in 1995, in the US by its subsidiary Candlewick Press. The book was a 1996 ALA Notable Children&apos;s Book.</string>
			<key>imageName</key>
			<string>GuessHowMuchILoveYou</string>
		</dict>
		<key>row01 - 1 - 2</key>
		<dict>
			<key>name</key>
			<string>Where the Wild Things Are</string>
			<key>type</key>
			<string>Children&apos;s literature, Picture book</string>
			<key>description</key>
			<string>Where the Wild Things Are is a 1963 children&apos;s picture book by American writer and illustrator Maurice Sendak, originally published by Harper &amp; Row. </string>
			<key>imageName</key>
			<string>WheretheWildThingsAre.jpeg</string>
		</dict>
		<key>row01 - 1 - 3</key>
		<dict>
			<key>name</key>
			<string>How To Speak Dragonese</string>
			<key>type</key>
			<string>Humour, Children&apos;s literature, Fantasy Fiction</string>
			<key>description</key>
			<string>Don&apos;t miss a moment of the How to Train Your Dragon series, the bestselling, funny, action-packed books that inspired the hit movies! The story begins when Hiccup, his friend Fishlegs, and his cranky dragon Toothless get separated from their class during Boarding-an-Enemy-Ship practice.</string>
			<key>imageName</key>
			<string>HowToSpeakDragonese.jpeg</string>
		</dict>
		<key>row01 - 1 - 4</key>
		<dict>
			<key>name</key>
			<string>Parvana&apos;s Journey</string>
			<key>type</key>
			<string>Fiction, Children&apos;s literature</string>
			<key>description</key>
			<string>After her father dies, twelve-year-old Parvana is left to fend for herself and so, dressed as a boy and accompanied by other children on the run, must find a way to locate her remaining family inside war-torn Afghanistan, in the dramatic sequel to The Breadwinner. Reprint.</string>
			<key>imageName</key>
			<string>ParvanasJourney.jpeg</string>
		</dict>
		<key>row01 - 1 - 5</key>
		<dict>
			<key>name</key>
			<string>The Paper Bag Princess</string>
			<key>type</key>
			<string>Fiction, Children&apos;s literature</string>
			<key>description</key>
			<string>The Paper Bag Princess is a children&apos;s book written by Robert Munsch and illustrated by Michael Martchenko. It was first published on 1 May 1980 by Annick Press and Discus Books. The story reverses the princess and dragon stereotype. </string>
			<key>imageName</key>
			<string>ThePaperBagPrincess.jpeg</string>
		</dict>
	</dict>
</dict>
</plist>
